$primary: #c32c72;
$dark: #f4f3ee;
$navbar-dark-color: #6a6a6a;
$navbar-dark: #6a6a6a;
$navbar-brand: #6a6a6a;
$dark-grey: #6a6a6a;
$darkest: #262626;
$light-grey: #8d8d8d;
$navbar-dark-active-color: #c32c72;
$background-colour: #e5e5e5;
$primary-colour-hover: #c32c72;
$background-dark: rgba(0, 0, 0, 0.5);

$font-primary: "open sans", sans-serif;
$font-secondary: "archivo narrow", sans-serif;

$tablet-width: 768px;

$colors: (
  light-grey: #8d8d8d,
);
