.footer {
  background: $dark;
  display: flex;
  color: $light-grey;
  padding: 1rem 5rem;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }

  &__item {
    padding: 1em 0;
  }
}
